* { 
   box-sizing: border-box; 
}
	body {
    margin: 0;
    background-color: rgb(250, 237, 220);
 }	
ul, ol {
   padding: 0;
 }
li {
   list-style-type: none; 
}

a { 
  text-decoration: none; color: #000; 
}

header{
    background-color: black;
    display: flex; 
    padding: 0.5% 2%;
}

.userheader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navul {
    display: flex;
    gap: 20px;
    padding: 0;
}
.userheader a {
    color: white;         
    text-decoration: none;
   
}

.buscador {
    display: flex;
    align-items: center;
    width: 40%;
margin-left: auto;
}

.buscador input {
    width: 100%;
    padding: 5px;
}

.buscador button {
    background-color: black;
    color: #C9A227
}

.logoclaro img{
     width: 20%;
    height: auto;
}

footer{
    background-color: black;
margin-bottom: 0;
text-decoration: none;
display: flex;
}

footer img {
    width: 20%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 7%;
}

.txtfooter{
    color:white;
    justify-content: flex-start;
    display: flex;
}

main{
    padding:2%;
}

.primerafila{
    display: flex;
    
    
}

.botin1{
    background-color: white;
    padding: 2%;
    height: 50%;
    
}

.botin1 img{
   width: 30%;
    height: auto; 
}

.botin1 p{
    width: 30%;
}

.botin2 img{
   width: 20%;
    height: auto; 
}

.botin2 p{
    width: 20%;
}

.botin3 img{
   width: 20%;
    height: auto; 
}

.botin3 p{
    width: 20%;
}