* { 
   box-sizing: border-box; 
}
	body {
    margin: 0;
    background-color: rgb(250, 237, 220);
 }	
ul, ol {
   padding: 0;
 }
li {
   list-style-type: none; 
}

a { 
  text-decoration: none; color: #000; 
}

header{
    background-color: black;
    display: flex; 
    align-items:center;
    padding: 0.5% 2%;
    height:100px;
}

.userheader {
    display: flex;
    justify-content: center;
    width:40%;
}

.navul {
    display: flex;
    flex-direction:row;
    gap: 20px;
    padding: 0;
    justify-content: center;
}
.userheader a {
    color: white;         
    text-decoration: none;
   
}

.buscador {
    display: flex;
    width: 30%;
    margin-left: 0;
}

.buscador input {
    width: 100%;
    padding: 5px;
}

.buscador button {
    background-color: black;
    color: #C9A227
}

.logoclaro img{
     width: 20%;
    height: auto;
}

footer{
    background-color: black;
margin-bottom: 0;
text-decoration: none;
display: flex;
}

footer img {
    width: 20%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 7%;
}

.txtfooter{
    color:white;
    justify-content: flex-start;
    display: flex;
}

main{
    padding:2%;
}

.fila {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.fila article {
    width: 23%;
    padding: 15px;
    background-color: white;
}

.fila img {
    width: 100%;
    height: 200px;
}

.fila p {
    width: 100%;
}

.fila h2 {
    font-size: 20px;
}
.contenido{
    display:flex;
    flex-direction: row;
}
.contenido aside{
    width:20%;
    padding:30px
}
.contenido main{
    width:80%;
    margin: 0px 0px 0px 30px;
}
article div p{
    display:flex;
    flex-direction:row;
    background-color: black;
    color: white;
    justify-content: center;
}
aside nav ul li{
    padding:5px;
}
.precios{
    color:goldenrod;
}
.menshoe{
    color:goldenrod;
}